@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
  background: var(--blue-color);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

:root {
  --blue-color: #43aefc;
  --white-color: #ffffff;
  --grey-color: #cccccc;
  --blaack-color: #000000;
}

.weather-app-container {
  background: var(--white-color);
  width: 37%;
  border-radius: 0.375rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.17);
}

.weather-header-container,
.weather-body-container {
  padding: 1.25rem;
}

.weather-header-container {
  border-bottom: 1px solid var(--grey-color);
  font-size: 1.125rem;
  color: var(--blue-color);
  font-weight: bold;
}


@media (max-width: 999px) {

  .weather-app-container {
    width: 70%;
  }
}